.Contact__container {
  padding: 1.2rem 0;
}

.Contact__navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2.5rem;
  border-bottom: 1px solid $gray;
}

.Contact__logo {
  height: auto;
  max-width: 100%;
}

.Contact__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Contact__undo {
  cursor: pointer;
  font-size: 25px;
  color: $blue;

  &:hover,
  &:focus {
    color: $lightBlue;
  }
}

.Contact__return {
  font-size: 30px;
  color: $blue;
  margin-left: 25px;

  &:hover,
  &:focus {
    color: $lightBlue;
  }
}

.Contact__hero {
  text-align: center;

  img {
    width: 84px;
    margin: -50px auto 50px;
    z-index: 10;
  }
}
