@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

$font-stack: "Open Sans", sans-serif;
$white: #fff;
$black: #0a0a0a;
$midBlack: #141c3a;
$blue: #1369db;
$gray: #e6ecf8;
$lightBlue: #48abf7;
$lightRed: rgb(219, 92, 92);

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-stack;
}

a {
  text-decoration: none;
}

.button {
  transition: 0.3s;
  background-color: transparent;
  border: 2px solid $blue;
  border-radius: 40px;
  color: $blue;
  padding: 7px 15px 7px 15px;
  font-size: 18px;
  font-weight: 400;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: $blue;
    border-color: $blue;
    color: $white;
  }
}

h1 {
  text-align: center;
  color: $midBlack;
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  line-height: 1.125;
  word-break: break-word;
}

h2 {
  text-align: center;
  color: $midBlack;
  font-weight: 300;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  line-height: 1.5;
  word-break: break-word;
}

ul {
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 1.5;
  word-break: break-word;
  list-style: none;
  margin-top: 0.25em;
}

p {
  text-align: center;
  color: $midBlack;
  font-weight: 300;
  font-size: 1.1rem;
  margin-bottom: 2em;
  line-height: 1.5;
  word-break: break-word;
}

label {
  margin-bottom: 0.5em;
  font-weight: 400;
  font-size: 1.2rem;
  color: rgba(41, 51, 71, 0.65);
}

input {
  font-size: 1rem;
  font-weight: 400;
  font-family: $font-stack;
  height: 2.5em;
  box-shadow: none;
  border-radius: 4px;
  border: 1px solid $gray;
  padding-left: 10px;

  &:active,
  &:focus {
    outline: none;
  }
}

textarea {
  font-size: 1.4rem;
  font-weight: 300;
  box-shadow: none;
  border-radius: 4px;
  border: 1px solid $gray;
  padding: 10px;
  resize: vertical;
  font-size: 1rem;
  font-weight: 400;
  font-family: $font-stack;
}

.text__blue {
  color: $blue;
  font-weight: 400;
  font-size: 1.12rem;
  margin-bottom: 1em;
  line-height: 1;
  word-break: break-word;
}

.alert {
  text-align: center;
  color: $lightRed;
}
