.Experience__container {
  display: flex;
  justify-content: center;
  margin-top: -12rem;
  margin-bottom: 12rem;
}

.Experience__box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
}
