.Footer__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: $blue;
  height: 20rem;
  padding-top: 2rem;

  p {
    color: $white;
    opacity: 0.7;
    margin-top: 25px;
  }

  img {
    height: 48px;
  }
}

.Footer__social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.18rem;
  color: $white;
  border-radius: 100%;
  margin: 5px;
  height: 40px;
  width: 40px;
  border: 2px solid rgba(255, 255, 255, 0.3);

  &:hover,
  &:focus {
    background: $white;
    color: $blue;
    border: 2px solid $white;
  }
}

.Footer__logo {
  flex-direction: column;
  display: flex;
  align-items: center;
}

.Footer__icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2rem;
}
