.Form__container {
  form {
    margin: 0px 20rem 20px 20rem;
    display: flex;
    flex-direction: column;
  }
}

.Form__one_column {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.Form__two_columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.Form__input {
  display: flex;
  flex-direction: column;
  width: 48%;
}

.Form__button_container {
  text-align: center;

  a {
    padding: 7px 50px 7px 50px;
  }
}
