.Header__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0rem 1.5rem;
  background-color: $white;
  color: $black;
}

.Header__top {
  padding: 7rem 1.5rem;

  h1 {
    font-weight: 700;
    font-size: 3rem;
  }

  img {
    width: 210px;
  }
}

.Header__bottom {
  margin-bottom: -0.65rem;

  img {
    height: auto;
  }
}
