.Navbar {
  padding: 1.2rem 0;
}

.Navbar__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2.5rem;
  flex-wrap: wrap;
}

.Navbar__logo {
  margin-top: 1rem;
  height: auto;
}

.Navbar__menu {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

@media only screen and (max-width: 400px) {
  .Navbar__menu {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media only screen and (max-width: 391px) {
  .Navbar__item {
    margin-top: 25px;
  }
}

.Navbar__resume {
  color: $midBlack;
  font-size: 18px;
  font-weight: 300;

  &:hover {
    color: $blue;
  }
}

.Navbar__item {
  padding-left: 25px;
}
