.Navbar {
  padding: 1.2rem 0;
}

.Navbar__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2.5rem;
}

.Navbar__logo {
  height: auto;
}

.Navbar__menu {
  display: flex;
  flex-direction: row;
}

.Navbar__resume {
  color: $midBlack;
  font-size: 18px;
  font-weight: 300;

  &:hover {
    color: $blue;
  }
}

.Navbar__item {
  padding-left: 25px;
}
