.Projects__container {
  padding: 5rem 1.5rem;
  text-align: center;

  h2 {
    font-size: 1.25rem;
    flex-wrap: wrap;

    a {
      color: $blue;
      font-weight: 400;
      transition: 0.3s;

      &:hover,
      &:focus {
        color: $lightBlue;
      }
    }
  }
}

.Projects__cards {
  display: flex;
  flex-wrap: wrap;
}
