.ProjectsCards__container {
  padding: 0.75rem;
  width: 30%;
  height: 12rem;

  figure {
    position: relative;
    overflow: hidden;
    border-radius: 12px;

    img {
      transition: 0.25s ease-in-out;
      -webkit-transition: 0.25s ease-in-out;
    }
  }
}
