.Start__container {
  background-color: $blue;
  padding-top: 80px;
  height: 60px;
}

.Start__box {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: -9rem 2% 0px 2%;
  background-color: $midBlack;
  box-shadow: 0px 5px 5px 0px rgba(41, 64, 109, 0.26);
  border-radius: 12px;

  .Start__columns {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1rem 0px 1rem 0px;
  }

  h1 {
    color: $white;
    margin-bottom: 0px;
  }

  h2 {
    color: $white;
    font-size: 1.2rem;
    margin-bottom: 0px;
  }

  a {
    color: $white;
    padding: 10px 30px 10px 30px;
  }
}

.Start__column {
  margin: 10px 0px 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
}

@media only screen and (max-width: 650px) {
  .Start__box {
    margin: -12rem 2% 0px 2%;

    .Start__columns {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
