:root {
  --blue: #1369db;
  --white: #fff;
  --black: #141c3a;
}

.Navbar__ {
  padding: 1.2rem 0;
}

.Navbar__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2.5rem;
}

.Navbar__logo {
  height: auto;
  max-width: 100%;
}

.Navbar__menu {
  display: flex;
  flex-direction: row;
}

.Navbar__resume {
  font-size: 18px;
  font-weight: 300;
  color: var(--black);
}

.Navbar__resume:hover {
  color: var(--blue);
}

.Navbar__item {
  padding-left: 25px;
}

.Navbar__button {
  transition: 0.3s;
  background-color: transparent;
  border: 2px solid var(--blue);
  border-radius: 40px;
  color: var(--blue);
  padding: 7px 15px 7px 15px;
  font-size: 18px;
  font-weight: 400;
  white-space: nowrap;
}

.Navbar__button:hover,
.Navbar__button:focus {
  background-color: var(--blue);
  border-color: var(--blue);
  color: var(--white);
}
