.Projects__container {
  padding: 5rem 1.5rem;
  text-align: center;
}

.Projects__container > h2 {
  font-size: 1.25rem;
}

.Projects__container > h2 > a {
  color: var(--blue);
  font-weight: 400;
  transition: 0.3s;
}

.Projects__container > h2 > a:hover,
.Projects__container > h2 > a:focus {
  color: var(--lightBlue);
}

.Projects__box {
  display: flex;
  padding-top: 4rem;
  margin-left: 10rem;
  margin-right: 10rem;
}

.Projects__cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
