.Skills__container {
  margin-top: -14rem;
  padding-bottom: 1rem;
  padding-top: 5rem;
  padding-left: 6.5rem;
  padding-right: 6.5rem;
}

.Skills__box {
  display: flex;
  flex-direction: row;
  text-align: center;
  color: var(--midBlack);
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0 5px 5px 0 rgb(233 240 243 / 50%), 0 0 0 1px var(--gray);
}

.Skills__box .Skills__column:last-child {
  border-right: none;
  border-bottom: none;
}

.Skills__column {
  display: flex;
  flex-direction: column;
  flex: 1;

  border-bottom: 0px solid var(--gray);
  border-right: 1px solid var(--gray);
  padding: 60px 35px;
}

.Skills__column > img {
  margin-bottom: 2em;
  height: 48px;
}

.Skills__title {
  font-size: 1.5rem;
}
