.Title__container {
  display: flex;
  justify-content: center;

  background-color: var(--blue);
  color: var(--white);
  padding-bottom: 14rem;
  padding-top: 5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.Title__text {
  width: 70%;
}

.Title__text > h1 {
  color: var(--white);
}

.Title__text > h2 {
  color: var(--white);
}
