@import "../../index";

.Title__container {
  display: flex;
  justify-content: center;
  background-color: $blue;
  color: $white;
  padding-bottom: 14rem;
  padding-top: 5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.Title__text {
  width: 70%;

  h1 {
    color: $white;
  }

  h2 {
    color: $white;
  }
}
