:root {
  --blue: #1369db;
  --white: #fff;
}

.Title__container {
  display: flex;
  justify-content: center;

  background-color: var(--blue);
  color: var(--white);
  padding-bottom: 14rem;
  padding-top: 5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.Title__text {
  text-align: center;
  width: 70%;
}

.Title__text > h1 {
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  line-height: 1.125;
  word-break: break-word;
}

.Title__text > h2 {
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.5;
  word-break: break-word;
}
