$font-stack: "Open Sans", sans-serif;
$white: #fff;
$black: #0a0a0a;
$midBlack: #141c3a;
$blue: #1369db;
$gray: #e6ecf8;
$lightBlue: #48abf7;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-stack;
}

a {
  text-decoration: none;
}

.button {
  transition: 0.3s;
  background-color: transparent;
  border: 2px solid $blue;
  border-radius: 40px;
  color: $blue;
  padding: 7px 15px 7px 15px;
  font-size: 18px;
  font-weight: 400;
  white-space: nowrap;
  &:hover,
  &:focus {
    background-color: $blue;
    border-color: $blue;
    color: $white;
  }
}

h1 {
  text-align: center;
  color: $midBlack;
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  line-height: 1.125;
  word-break: break-word;
}

h2 {
  text-align: center;
  color: $midBlack;
  font-weight: 300;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  line-height: 1.5;
  word-break: break-word;
}

ul {
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 1.5;
  word-break: break-word;
  list-style: none;
  margin-top: 0.25em;
}

p {
  text-align: center;
  color: $midBlack;
  font-weight: 300;
  font-size: 1.1rem;
  margin-bottom: 2em;
  line-height: 1.5;
  word-break: break-word;
}

.text__blue {
  color: $blue;
  font-weight: 400;
  font-size: 1.12rem;
  margin-bottom: 1em;
  line-height: 1;
  word-break: break-word;
}
